# String Based PracticeQuestions

## TOPIC: String Based Assignment Problem

### 1. Write a program to reverse a string.

In [1]:
s = input()
reverse_s = s[::-1]
reverse_s

 Lalit

'tilaL'

### 2. Check if a string is a palindrome.

In [4]:
s = input()
s = s.lower()
print(f'{s} is an palindrome?', s == s[ : : -1])

 leveL

level is an palindrome? True

### 3. Convert a string to uppercase.

In [5]:
s = input()
s.upper()

 bigO

'BIGO'

### 4. Convert a string to lowercase.

In [6]:
s_str = input()
s_str.lower()

 BIGO

'bigo'

### 5. Count the number of vowels in a string.

In [12]:
s_2 = input()
print(f'{(s_2.count("a"))+(s_2.count("e"))+(s_2.count("i"))+(s_2.count("o"))+(s_2.count("u"))}')

 aeiouD

5

### 6. Count the number of consonants in a string.

In [27]:
s_6 = input()
print(f'{(s_6.count("b")) + (s_6.count("c")) +(s_6.count("d"))+(s_6.count("f"))+(s_6.count("g"))+(s_6.count("h"))+(s_6.count("j"))+(s_6.count("k"))+(s_6.count("l"))+(s_6.count("m"))+(s_6.count("n"))+(s_6.count("p"))+(s_6.count("q"))+(s_6.count("r"))+(s_6.count("s"))+(s_6.count("t"))+(s_6.count("v"))+(s_6.count("w"))+(s_6.count("x"))+(s_6.count("y"))+(s_6.count("b"))}')

 thisisastring

9

### 7. Remove all whitespaces from a string.

In [32]:
s_7 = input()
''.join(s_7.split())

 h i g h r I s E

'highrIsE'

### 8. Find the length of a string without using the `len()` function.

In [42]:
str_8 = 'sdfghj'
count = 0
for i in str_8:
    if i == None:
        continue
    else:
        count+=1
print(count)

6

### 9. Check if a string contains a specific word.

In [2]:
str_9 = input()
word = 'isok'
print(f'Is {word} present in {str_9}: {word in str_9}')

 okthis

Is isok present in okthis: False

### 10. Replace a word in a string with another word.

In [5]:
str_10 = 'this is a for replacing the word xyz with substituted'
print(str_10)
str_10_1 = str_10.replace('xyz', 'substituted')
print(str_10_1)

this is a for replacing the word xyz with substituted
this is a for replacing the word substituted with substituted

### 11. Count the occurrences of a word in a string.

In [15]:
str_11 = 'countofiinstr_11'
str_11.count('in')

1

### 12. Find the first occurrence of a word in a string.

In [8]:
str_12 = 'strstring'
str_12.find('str')

0

### 13. Find the last occurrence of a word in a string.

In [9]:
str_13 = 'strstring'
str_13.rfind('str')

3

### 14. Split a string into a list of words.

In [11]:
str_14 = 'str string str string'
str_14.split()

['str', 'string', 'str', 'string']

### 15. Join a list of words into a string.

In [16]:
str_15 = ['str',  'string',  'str',  'string']
str_15_1 = ' '
str_15_1.join(str_15)

'str string str string'

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [8]:
str_16 = 'str string str string'
str_16.replace(' ', '_')

'str_string_str_string'

### 17. Check if a string starts with a specific word or phrase.

In [9]:
str_17 = 'This is That'
first = 'is'
second = 'Th'
print(f'Does the string "{str_17}" starts with "{first}"? {str_17.startswith(first)}')
print(f'Does the string "{str_17}" starts with "{second}"? {str_17.startswith(second)}')

Does the string "This is That" starts with "is"? False
Does the string "This is That" starts with "Th"? True

### 18. Check if a string ends with a specific word or phrase.

In [13]:
str_18 = 'This is That'
first_1 = 'Th'
second_1 = 'at'
print(f'Does the string "{str_18}" ends with "{first_1}"? {str_18.endswith(first_1)}')
print(f'Does the string "{str_18}" ends with "{second_1}"? {str_18.endswith(second_1)}')

Does the string "This is That" ends with "Th"? False
Does the string "This is That" ends with "at"? True

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [14]:
str_19 = input()
str_19.title()

 hello world

'Hello World'

### 20. Find the longest word in a string.

In [8]:
inp = 'This is yhat word'
words = inp.split()
count = []

for i in words:
    count.append(len(i))

max1 = max(count)
ind = count.index(max1)
words[ind]

'This'

### 21. Find the shortest word in a string.

In [58]:
str_22 = 'This is yhat word'
words_22_1 = str_22.split()
str_22_1 = []

for j in words_22_1:
    str_22_1.append(len(j))

max2 = min(str_22_1)
ind_1 = str_22_1.index(max2)
words_22_1[ind_1]

'is'

### 22. Reverse the order of words in a string.

In [34]:
str_22 = 'ring rang rung'
str_22_1 = str_22.split()
str_22_1 = str_22_1[::-1]
str_22_2 = ''
for k in str_22_1:
    str_22_2+=k
print(str_22_2)

rungrangring

### 23. Check if a string is alphanumeric.

In [25]:
str_23 = input()
str_23.isalnum()

 cicd

True

### 24. Extract all digits from a string.

In [24]:
str_24=input()
l_1 = []
for i in str_24:
    if i.isnumeric()==True:
        l_1.append(i)
    else:
        continue
print(l_1)

 b801a687

['8', '0', '1', '6', '8', '7']

### 25. Extract all alphabets from a string.

In [27]:
str_25 = input()
l_2 = []
for i in str_25:
    if i.isalpha()==True:
        l_2.append(i)
    else:
        continue
print(l_2)

 b801a687

['b', 'a']

### 26. Count the number of uppercase letters in a string.

In [29]:
str_26 = input()
l_3 = []
for d in str_26:
    if d.isupper()==True:
        l_3.append(d)
    else:
        continue
print(f'Total number of uppercase letters are {len(l_3)}')

 AbCDeFG

Total number of uppercase letters are 5

### 27. Count the number of lowercase letters in a string.

In [30]:
str_27 = input()
l_4 = []
for e in str_27:
    if e.islower()==True:
        l_4.append(e)
    else:
        continue
print(f'Total number of lowercase letters are {len(l_4)}')

 AbCDeFG

Total number of lowercase letters are 2

### 28. Swap the case of each character in a string.

In [31]:
str_28 = input()
str_28_1 = str_28.swapcase()
str_28_1

 AbCDeFG

'aBcdEfg'

### 29. Remove a specific word from a string.

In [32]:
str_29 = input()
word = 'rem'
str_29_1 = str_29.replace('rem', '')
str_29_1

 thisisremrem

'thisis'

### 30. Check if a string is a valid email address.

In [40]:
str_30 = input()
if (str_30.count('@')==1 and str_30.count('.')==1):
    print('The email is valid')
else:
    print('not an valid email')

 support@pwskills.com

The email is valid

### 31. Extract the username from an email address string.

In [5]:
str_31 = input()
if (str_31.count('@')==1 and str_31.count('.')==1):
    str_31_1 = str_31.split('@')
    print(str_31_1[0])
else:
    print('not an valid email')

 support@pwskills.com

support

### 32. Extract the domain name from an email address string.

In [21]:
str_32 = 'support@pwskills.com'
str_32_1 = str_32
print(str_32_1)
str_32 = str_32.replace('.', '@')
str_32_2 = str_32.split('@')
str_32_2[1]

support@pwskills.com

'pwskills'

### 33. Replace multiple spaces in a string with a single space.

In [4]:
str_33 = 'this  is  a string'
str_33_1 = str_33.split()
print(' '.join(str_33_1))

this is a string

### 34. Check if a string is a valid URL.

In [3]:
str_34 = input()
if ((str_34.count('https://')==1 and (str_34.count('.')==1 or str_34.count('.')==2)) or (str_34.count('http://')==1 and (str_34.count('.')==1 or str_34.count('.')==2))):
    print('This is a valid URL')
else:
    print('not an valid URL')

 https:hdh

not an valid URL

### 35. Extract the protocol (http or https) from a URL string.

In [14]:
strurl_35 = input('Enter the URL: ')
if (strurl_35.count('http://') ==1 and (strurl_35.count('.')==1 or strurl_35.count('.')==2)) or (strurl_35.count('https://') ==1 and (strurl_35.count('.')==1 or strurl_35.count('.')==2)):
    strurl_35_1 = strurl_35.split('://')
    print(strurl_35_1[0])
else:
    print('Not a valid URL')

Enter the URL:  http://claerity.ai

http

### 36. Find the frequency of each character in a string.

In [16]:
str_36 = input()
str_36_1 = []
for i in str_36:
    str_36_1.append(i)
str_36_2 = set(str_36_1)
for i in str_36_2:
    print(i, str_36_1.count(i))

 pwskills

i 1
p 1
s 2
l 2
k 1
w 1

### 37. Remove all punctuation from a string.

In [25]:
import string
str_37 = input()
str_37_1 = ''
punc = string.punctuation
print(punc)
for i in str_37:
    if i in punc:
        str_37 += str_37.replace(i, '')
    else:
        str_37_1 += i
        
print(''.join(str_37_1))

 d*e#a

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~
dea

### 38. Check if a string contains only digits.

In [28]:
str_38 = input()
if str_38.isdigit():
    print(f'The string \'{str_38}\' contains digit only')
else:
    print('this is an anamoly in context of digit only string')

 313281375273

The string '313281375273' contains digit only

### 39. Check if a string contains only alphabets.

In [29]:
str_39 = input()
if str_39.isalpha():
    print(f'The string \'{str_39}\' contains alphabets only')
else:
    print('this is an anamoly in context of alphabet only string')

 upukka

The string 'upukka' contains alphabets only

### 40. Convert a string to a list of characters.

In [31]:
str_40 = input()
str_40_1 = []
for i in str_40:
    str_40_1.append(i)

print(str_40_1)

 thisisanexamplestring

['t', 'h', 'i', 's', 'i', 's', 'a', 'n', 'e', 'x', 'a', 'm', 'p', 'l', 'e', 's', 't', 'r', 'i', 'n', 'g']

### 41. Check if two strings are anagrams.

In [46]:
str1,str2 = input("Enter string 1: "),input("Enter string 2: ") 
str1=sorted(str1.lower()) 
str2=sorted(str2.lower())

if(str1==str2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

Enter string 1:  listen
Enter string 2:  silent

The strings are anagrams.

### 42. Encode a string using a Caesar cipher.

In [50]:
str_42 = input()
str_42_encrypt = ''
for i in str_42:
    if i.islower():
        str_42_encrypt += chr(ord(i)+3)
    elif  i.isupper():
        str_42_encrypt += chr(ord(i)+3)    
    elif i.isdigit():
        str_42_encrypt += chr(ord(i)+3)        
    else:
        continue
        
print(str_42_encrypt)

 abcABC123

defDEF456

### 43. Decode a Caesar cipher encoded string.

In [1]:
str_43 = input()
str_43_decrypt = ''
for i in str_43:
    if i.islower():
        str_43_decrypt += chr(ord(i)-3)
    elif  i.isupper():
        str_43_decrypt += chr(ord(i)-3)    
    elif i.isdigit():
        str_43_decrypt += chr(ord(i)-3)        
    else:
        continue
        
print(str_43_decrypt)

 defDEF456

abcABC123

### 44. Find the most frequent word in a string.

In [63]:
str_44 = input()
str_44_1 = []
str_44_2 = str_44.split()
for i in str_44_2:
    str_44_1.append(str_44_2.count(i))

max_3 = max(str_44_1)
ind_3 = str_44_1.index(max_3)
str_44_2[ind_3]

 this is this this is

'this'

### 45. Find all unique words in a string.

In [66]:
str_45 = input()
str_45_1 = []
str_45_2 = set(str_45.split())
print(list(str_45_2))

 this is that and this

['is', 'that', 'this', 'and']

### 46. Count the number of syllables in a string.

In [46]:
str_46 = input()
count = 0
for k in str_46:
    if k in ['a','e','i','o','u']:
        count +=1
    else:
        continue
print(f'The total number of syllables in {str_46} is {count}')

 aashiaanaa

The total number of syllables in aashiaanaa is 7

### 47. Check if a string contains any special characters.

In [71]:
str_47 = input()
if str_47.isalnum() == False:
    print(f'Yes the string \'{str_47}\' contains at least one special characters')
else:
    print(f'No the string \'{str_47}\' doesnot contain any special characters')

 ERdiagram$#

Yes the string 'ERdiagram$#' contains at least one special characters

### 48. Remove the nth word from a string.

In [29]:
str_48 = input()
nth = int(input())
str_48_1 = str_48.split()
str_48_1.pop(nth)
str_48_1 = str(str_48_1)
str_48_1 = str_48_1.replace('[', '')
str_48_1 = str_48_1.replace(']', '')
str_48_1 = str_48_1.replace("'", "")
str_48_1 = str_48_1.replace(',', '')
print(str_48_1)

 this is a string
 3

this is a

### 49. Insert a word at the nth position in a string.

In [24]:
str_49 = input()
nth = int(input())
str_insert = input()
str_49 = str_49.split()
str_49.insert(nth, str_insert)
str_49_1 = str(str_49)
str_49_1 = str_49_1.replace('[', '')
str_49_1 = str_49_1.replace(']', '')
str_49_1 = str_49_1.replace("'", "")
str_49_1 = str_49_1.replace(',', '')
print(str_49_1)

 this is a word
 2
 modified

this is modified a word

### 50. Convert a CSV string to a list of lists.

In [7]:
str_50 ="R,i,t,w,i,c,k"
str_50_1 = []
str_50 = str_50.replace(',', '')
for i in str_50:
    str_50_1.append([i])
    
print(str_50_1)

[['R'], ['i'], ['t'], ['w'], ['i'], ['c'], ['k']]

# TOPIC: List Based Practice Problem

### 1. Create a list with integers from 1 to 10.

In [32]:
l_1 = list(range(1, 11))
l_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [41]:
l_2 = [1,2,3,4,5]
count = 0
for i in l_2:
    if i == None:
        continue
    else:
        count +=1
print(count)

5

### 3. Append an element to the end of a list.

In [33]:
l_3 = ['1', '2']
l_3.append('3')
l_3

['1', '2', '3']

### 4. Insert an element at a specific index in a list.

In [34]:
l_4 = [1,3]
l_4.insert(1,2)
l_4

[1, 2, 3]

### 5. Remove an element from a list by its value.

In [45]:
l_5 = [1,'removethisvalue',2,3]
l_5.remove('removethisvalue')
l_5

[1, 2, 3]

### 6. Remove an element from a list by its index.

In [46]:
l_6 = [1, 'removethisindex', 2, 3, 4]
l_6.pop(1)
l_6

[1, 2, 3, 4]

### 7. Check if an element exists in a list.

In [13]:
l_7 = ['li', 'ol', 'ul', 1, 2, 62]
l_7_searchfor = 62
l_7_searchfor_v = l_7.count(l_7_searchfor)
if l_7_searchfor_v == 0:
    print(f"string \'{l_7_searchfor}\' is not present in the list {l_7}")
else:
    print(f"string \'{l_7_searchfor}\' is present in the list {l_7}")

string '62' is present in the list ['li', 'ol', 'ul', 1, 2, 62]

### 8. Find the index of the first occurrence of an element in a list.

In [14]:
l_8 = ['one', 'one', 2, 3]
l_8.index('one')

0

### 9. Count the occurrences of an element in a list.

In [15]:
l_9 = ['one', 'one', 'one', 2, 3]
l_9.count('one')

3

### 10. Reverse the order of elements in a list.

In [17]:
l_10 = ['one', 2, 3]
l_10.reverse()
l_10

[3, 2, 'one']

### 11. Sort a list in ascending order.

In [18]:
l_11 = [12, 2, 93]
l_11.sort()
l_11

[2, 12, 93]

### 12. Sort a list in descending order.

In [19]:
l_12 = [12, 2, 93]
l_12.sort(reverse = True)
l_12

[93, 12, 2]

### 13. Create a list of even numbers from 1 to 20.

In [21]:
l_13 = list(range(1,21))
l_13_1 = []
for i in l_13:
    if i%2 == 0:
        l_13_1.append(i)
    else:
        continue
print(l_13_1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [22]:
l_14 = list(range(1,21))
l_14_1 = []
for j in l_13:
    if j%2 != 0:
        l_14_1.append(j)
    else:
        continue
print(l_14_1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [24]:
l_15 = [1, 2, 3, 4, 5]
l_15_sum = 0
for i in l_15:
    l_15_sum+=i
    
print(f'sum of elements in the list {l_15} is {l_15_sum}')

sum of elements in the list [1, 2, 3, 4, 5] is 15

### 16. Find the maximum value in a list.

In [26]:
l_16 = [0,3,2,4,7]
l_16_max = l_16[0]
for i in l_16:
    if i > l_16_max:
        l_16_max = i
    else:
        continue
print(f'maximum value in the list is {l_16_max}')

maximum value in the list is 7

### 17. Find the minimum value in a list.

In [29]:
l_17 = [0,3,2,4,7,-1]
l_17_min = l_17[0]
for i in l_17:
    if i < l_17_min:
        l_17_min = i
    else:
        continue
print(f'minimum value in the list is {l_17_min}')

minimum value in the list is -1

### 18. Create a list of squares of numbers from 1 to 10.

In [31]:
l_18 = list(range(1,11))
l_18_sqr = []
for i in l_18:
    l_18_sqr.append(i**2)
    
print(f'list of squares of elements in the list {l_18} is {l_18_sqr}')

list of squares of elements in the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] is [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [33]:
import random
l_19 = random.sample(range(10, 31), 6)
print(l_19)

[12, 10, 28, 19, 22, 21]

### 20. Remove duplicates from a list.

In [36]:
l_20 = [1,2,3,1,2,'peter', 'peter']
l_20_1 = list(set(l_20))
print(l_20_1)

[1, 2, 3, 'peter']

### 21. Find the common elements between two lists.

In [38]:
l_21_1 = [1, 2, 'yes', 'no', 'yes', 'not', 'yesno']
l_21_2 = ['yesno', 1, 'should']
l_21_1 = set(l_21_1)
l_21_2 = set(l_21_2)
l_21_comm = l_21_1.intersection(l_21_2)
print(list(l_21_comm))

[1, 'yesno']

### 22. Find the difference between two lists.

In [40]:
l_22_1 = [1, 2, 'yes', 'no', 'yes', 'not', 'yesno']
l_22_2 = ['yesno', 1, 'should']
l_22_1 = set(l_22_1)
l_22_2 = set(l_22_2)
l_22_diff = l_22_1.difference(l_22_2)
print(list(l_22_diff))

['not', 2, 'no', 'yes']

### 23. Merge two lists.

In [49]:
l_23_1 = [1, 2, 'yes', 'no', 'yes', 'not', 'yesno']
l_23_2 = ['yesno', 1, 'should']
l_23_1.extend(l_23_2)
l_23_1

[1, 2, 'yes', 'no', 'yes', 'not', 'yesno', 'yesno', 1, 'should']

### 24. Multiply all elements in a list by 2.

In [51]:
l_24 = [1,2,3,5]
l_24_1 = []
for i in l_24:
    l_24_1.append(i*2)
l_24_1

[2, 4, 6, 10]

### 25. Filter out all even numbers from a list.

In [54]:
l_25 = [1,2,3,6,8,9]
l_25_1 = []
for i in l_25:
    if i%2 == 0:
        l_25_1.append(i)
    else:
        continue
l_25_1

[2, 6, 8]

### 26. Convert a list of strings to a list of integers.

In [55]:
l_26 = ['1','2','3']
l_26_1= []
for i in l_26:
    l_26_1.append(int(i))
l_26_1

[1, 2, 3]

## 27. Convert a list of integers to a list of strings.

In [57]:
l_27 = [1, 2, 3]
l_27_1 = []
for i in l_27:
    l_27_1.append(str(i))
l_27_1

['1', '2', '3']

### 28. Flatten a nested list.

In [39]:
from functools import reduce
l_28 = [[1,2,3,4], [1,2,3], [1], [2]]
list(reduce(lambda x, y: x + y, l_28, []))

[1, 2, 3, 4, 1, 2, 3, 1, 2]

### 29. Create a list of the first 10 Fibonacci numbers.

In [12]:
l_29 = []
nth_29 = int(input())
a = 0    
b = 1    
for i in range(0,nth_29):  
    l_29.append(a)
    c = a + b
    a = b
    b = c
print(l_29)

 5

[0, 1, 1, 2, 3]

### 30. Check if a list is sorted.

In [15]:
l_30 = [98, 78, 600]
l_30_1 = l_30
if l_30_1 == l_30.sort():
    print('list is sorted')
else:
    print('list is not sorted')

list is not sorted

### 31. Rotate a list to the left by `n` positions.

In [33]:
rot_l_n = int(input('Enter the value with which the list should be rotated left: '))
  
l_31 = [11, 22, 33, 44, 55]
print('Original list: ', l_31)
l_31 =  l_31[rot_l_n: ]+ l_31[:rot_l_n]
print("Rotated list:", l_31)

Enter the value with which the list should be rotated left:  2

Original list:  [11, 22, 33, 44, 55]
Rotated list: [33, 44, 55, 11, 22]

### 32. Rotate a list to the right by `n` positions.

In [32]:
rot_r_n = int(input('Enter the value with which the list should be rotated right: '))
  
l_32 = [11, 22, 33, 44, 55]
print('Original list: ', l_32)
l_32 = (l_32[len(l_32) - rot_r_n:len(l_32)] + l_32[0:len(l_32) - rot_r_n]) 
print("Rotated list:", l_32)

Enter the value with which the list should be rotated right:  2

Original list:  [11, 22, 33, 44, 55]
Rotated list: [44, 55, 11, 22, 33]

### 33. Create a list of prime numbers up to 50.

In [63]:
l_33 = []
for i in range (1, 51):
    count = 0
    for j in range(2, (i//2 + 1)):
        if(i % j == 0):
            count = count + 1
            break

    if (count == 0 and i != 1):
        l_33.append(i)
print(l_33)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [20]:
from itertools import islice
n_chunks = int(input('Enter the value number of chunks: '))
l_34 = [1, 2, 3, 4, 5, 6, 7, 8]
if len(l_34)%n_chunks == 0:
    l_34_chunks = [int(len(l_34)/n_chunks) for i in range(1,n_chunks+1)]
    l_34_iter = iter(l_34)
    l_34_1 = [list(islice(l_34_iter, j)) for j in l_34_chunks]
    print(f'The list {l_34} is divided in {n_chunks} parts and output is {l_34_1}')
else:
    print(f'Sorry the list of length {len(l_34)} could not be divided equally in {n_chunks} chunks')

Enter the value number of chunks:  2

The list [1, 2, 3, 4, 5, 6, 7, 8] is divided in 2 parts and output is [[1, 2, 3, 4], [5, 6, 7, 8]]

### 35. Find the second largest number in a list.

In [17]:
l_35 = [1,2,9,2,6]
n = len(l_35)
l_35.sort()
print(l_35[n-1])

9

### 36. Replace every element in a list with its square.

In [66]:
l_36 = [5,6,1,2,700]
l_36_sqr = []
for i in l_36:
    l_36_sqr.append(i**2)
    
l_36_sqr

[25, 36, 1, 4, 490000]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [20]:
l_37 = ['er', 'lms', 1, 2]
dict_37 = {}
for i in l_37:
    dict_37.update({i : l_37.index(i)})
    
dict_37

{'er': 0, 'lms': 1, 1: 2, 2: 3}

### 38. Shuffle the elements of a list randomly.

In [22]:
import random
l_38 = [2,8,9,10]
random.shuffle(l_38)
print(l_38)

[8, 10, 2, 9]

### 39. Create a list of the first 10 factorial numbers.

In [1]:
l_39 = list(range(0,10))
l_39_fac = []
fac = 1
for i in l_39:
    for j in range(1, i+1):
        fac *= j
    l_39_fac.append(fac)
    fac = 1
print(l_39_fac)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40. Check if two lists have at least one element in common.

In [25]:
l_40_1 = ['let', 'this', 'be', 'first', 'list']
l_40_2 = ['let', 'this', 'be', 'second', 'list']
for i in l_40_1:
    for j in l_40_2:
        if i == j:
            break
        else: 
            continue
print('The two lists have have at least one element in common')

The two lists have have at least one element in common

### 41. Remove all elements from a list.

In [22]:
l_41 = ['clear', 'the', 'list']
l_41.clear()
l_41

[]

### 42. Replace negative numbers in a list with 0.

In [28]:
l_42 = [-1, 9, -8, 7]
l_42_1 = []
for i in l_42:
    if i < 0:
        l_42_1.append(0)
    else:
        l_42_1.append(i)
        continue
print(l_42_1)

[0, 9, 0, 7]

### 43. Convert a string into a list of words.

In [30]:
str_43 = input()
l_43 = str_43.split()
print(l_43)

 this is an input string

['this', 'is', 'an', 'input', 'string']

### 44. Convert a list of words into a string.

In [32]:
l_44 = ['this', 'is', 'an', 'output', 'string']
print(' '.join(l_44))

this is an output string

### 45. Create a list of the first `n` powers of 2.

In [35]:
l_45 = []
n = int(input('Enter the positive integer upto which you want the power of 2 to be listed out: '))
for i in range(1, n+1):
    l_45.append(2**i)
    
l_45

Enter the positive integer upto which you want the power of 2 to be listed out:  10

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

### 46. Find the longest string in a list of strings.

In [110]:
l_46 = ['thisislongest','this','hisislngest']
l_46_len = []
for i in l_46:
    l_46_len.append(len(i))
l_46_len_max = max(l_46_len)
l_46_ind = l_46_len.index(l_46_len_max)
print(f"Longest string in the given list is \'{l_46[l_46_ind]}\'")

Longest string in the given list is 'thisislongest'

### 47. Find the shortest string in a list of strings.

In [112]:
l_47 = ['thisislongest','this','hisislngest']
l_47_len = []
for j in l_47:
    l_47_len.append(len(j))
l_47_len_min = min(l_47_len)
l_47_indd = l_47_len.index(l_47_len_min)
print(f"Longest string in the given list is \'{l_47[l_47_indd]}\'")

Longest string in the given list is 'this'

### 48. Create a list of the first `n` triangular numbers.

In [8]:
nth_48 = int(input("Enter the count of triangular numbers you want to have: "))
l_48 = []
for i in range(1, nth_48+1):
    l_48.append(sum(range(1,i+1)))
l_48

Enter the count of triangular numbers you want to have:  4

[1, 3, 6, 10]

### 49. Check if a list contains another list as a subsequence.

In [3]:
l_49_1 = ['de', [1,2,3], 'engg']
l_49_2 = []
for i in l_49_1:
    if (str(type(i)) == "<class 'list'>"):
        l_49_2.append(True)
    else:
        l_49_2.append(False)
if (any(l_49_2)):
    print('list is contains a subsequent list')
else:
    print('there is no subsequent list')

list is contains a subsequent list

### 50. Swap two elements in a list by their indices.

In [40]:
l_50 = [1, 2, 'word', 'sentence', 3, [2,3,4]]
l_50_f = int(input('The first index which are to be swapped: '))
l_50_s = int(input('The second index which are to be swapped: '))
l_50[l_50_f], l_50[l_50_s] = l_50[l_50_s], l_50[l_50_f]
print(l_50)

The first index which are to be swapped:  2
The second index which are to be swapped:  3

[1, 2, 'sentence', 'word', 3, [2, 3, 4]]

# TOPIC Tuple Based Practice Problem :

### 1. Create a tuple with integers from 1 to 5.

In [47]:
t_1 = tuple(range(1,6))
t_1

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [49]:
t_2 = (1,2,4,3)
t_2[2]

4

### 3. Find the length of a tuple without using the `len()` function.

In [1]:
t_3 = (8,9,6,7,7)
count_t = 0
for i in t_3:
    if i == None:
        continue
    else:
        count_t+=1
print(count_t)

5

### 4. Count the occurrences of an element in a tuple.

In [2]:
t_4 = (3,4,5,'g','g','h')
t_4.count('g')

2

### 5. Find the index of the first occurrence of an element in a tuple.

In [3]:
t_5 = (3,4,5,'g','g','h')
t_5.count('g')

2

### 6. Check if an element exists in a tuple.

In [13]:
t_6 = (3,4,5,'g','g','h')
t_6_elem = 'g'
if t_6_elem in t_6:
    print(f'The element {t_6_elem} is present in the tuple {t_6}')
else:
    print(f'The element {t_6_elem} is not present in the tuple {t_6}')

The element g is present in the tuple (3, 4, 5, 'g', 'g', 'h')

### 7. Convert a tuple to a list.

In [17]:
t_7 = (3,4,5,6,'t')
t_7 = list(t_7)
t_7

[3, 4, 5, 6, 't']

### 8. Convert a list to a tuple.

In [19]:
l_8_ = [3,4,5,5,6,'t']
l_8_ = tuple(l_8_)
l_8_

(3, 4, 5, 5, 6, 't')

### 9. Unpack the elements of a tuple into variables.

In [20]:
t_9 = (6,7,8,8,2)
i,j,k,l,m = t_9
print(i)
print(j)
print(k)
print(l)
print(m)

6
7
8
8
2

### 10. Create a tuple of even numbers from 1 to 10.

In [22]:
l_10 = []
for i in range(1, 11):
    if i%2==0:
        l_10.append(i)
t_10 = tuple(l_10)
t_10

(2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [24]:
l_11 = []
for j in range(1, 11):
    if j%2!=0:
        l_11.append(j)
t_11 = tuple(l_11)
t_11

(1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [25]:
t_12_1 = (1,2,3)
t_12_2 = (4,5,6)
t_12_12 = t_12_1+t_12_2
t_12_12

(1, 2, 3, 4, 5, 6)

### 13. Repeat a tuple three times.

In [26]:
t_13 = (1,2,3)
t_13_1 = t_13*3
t_13_1

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### 14. Check if a tuple is empty.

In [29]:
t_14 = ()
t_14_1 = (1,2,3)
l_14_12 = []
for i in t_14:
    if i == None:
        l_14_12.append(True)
    else:
        l_14_12.append(False)
if all(l_14_12):
    print(f'The tuple {t_14} is empty')
else:
    print(f'The tuple {t_14} is non-empty')

l_14_22 = []
for i in t_14_1:
    if i == None:
        l_14_22.append(True)
    else:
        l_14_22.append(False)
if all(l_14_22):
    print(f'The tuple {t_14_1} is empty')
else:
    print(f'The tuple {t_14_1} is non-empty')

The tuple () is empty
The tuple (1, 2, 3) is non-empty

### 15. Create a nested tuple.

In [31]:
t_15 = (1,2,3)
t_15_1 = (4,5)
t_15_2 = (1,2,3,t_15_1)
t_15_2

(1, 2, 3, (4, 5))

### 16. Access the first element of a nested tuple.

In [32]:
t_16 = (1, 2, 3, (4, 5))
t_16[3][0]

4

### 17. Create a tuple with a single element.

In [33]:
t_17 = 1,
t_17

(1,)

### 18. Compare two tuples.

In [ ]:
t_18 = (1,2,3)
t_18_1 = (1,2,4)

### 19. Delete a tuple.

In [34]:
t_19 = (5,6,7,'idk')

In [35]:
del t_19

In [36]:
t_19

NameError: name 't_19' is not defined

### 20. Slice a tuple.

In [38]:
t_20 = (1,2,3,4,('er', 'dr', 'ar'))
t_20[2:5]

(3, 4, ('er', 'dr', 'ar'))

### 21. Find the maximum value in a tuple.

In [40]:
t_21 = (1, 90, 1729)
max(t_21)

1729

### 22. Find the minimum value in a tuple.

In [41]:
t_22 = (1, 90, 1729)
min(t_22)

1

### 23. Convert a string to a tuple of characters.

In [46]:
str_23_12 = 'nobodyisgoodoverallofus'
l_23 = []
for i in str_23_12:
    l_23.append(i)
t_23 = tuple(l_23)
t_23

('n',
 'o',
 'b',
 'o',
 'd',
 'y',
 'i',
 's',
 'g',
 'o',
 'o',
 'd',
 'o',
 'v',
 'e',
 'r',
 'a',
 'l',
 'l',
 'o',
 'f',
 'u',
 's')

### 24. Convert a tuple of characters to a string.

In [48]:
t_24 = ('n', 'o', 'b', 'o', 'd', 'y', 'i', 's', 'g', 'o', 'o', 'd', 'o', 'v', 'e', 'r', 'a', 'l', 'l', 'o', 'f', 'u', 's')
str_24_t = ''
for i in t_24:
    str_24_t+=i
str_24_t

'nobodyisgoodoverallofus'

### 25. Create a tuple from multiple data types.

In [49]:
l_25_25 = ['imho', 'hifi']
str_25_25 = 'ceiling'
num_25_25 = 325
float_25_25 = 3.14
t_25_25 = (3,2,5)
s_25_25 = {3,2,5}
d_25_25 = {3:2,2:2,5:5}
t_25 = (l_25_25,str_25_25,num_25_25,float_25_25,t_25_25,s_25_25,d_25_25)
t_25

(['imho', 'hifi'],
 'ceiling',
 325,
 3.14,
 (3, 2, 5),
 {2, 3, 5},
 {3: 2, 2: 2, 5: 5})

### 26. Check if two tuples are identical.

In [39]:
t_26 = (1,2,3,'three')
t_26_1 = (1,2,3)
if t_26 == t_26_1:
    print('Two tuples are identical')
else:
    print('Two tuples are different')

Two tuples are different

### 27. Sort the elements of a tuple.

In [1]:
t_27 = (90,23,108,1)
l_27_t = list(t_27)
l_27_t.sort()
t_27_1 = tuple(l_27_t)
t_27_1

(1, 23, 90, 108)

### 28. Convert a tuple of integers to a tuple of strings.

In [2]:
t_28_i = (1,2,3,4)
l_28_i = []
for k in t_28_i:
    l_28_i.append(str(k))
t_28_str = tuple(l_28_i)
t_28_str

('1', '2', '3', '4')

### 29. Convert a tuple of strings to a tuple of integers.

In [2]:
t_29 = ('1', '2', '3', '4')
l_29_s = []
for o in t_29:
    l_29_s.append(int(o))
    
t_29_i = tuple(l_29_s)
t_29_i

(1, 2, 3, 4)

### 30. Merge two tuples.

In [3]:
t_30_1 = (1,2,3)
t_30_2 = (4,5)
t_30_3 = t_30_1 + t_30_2
t_30_3

(1, 2, 3, 4, 5)

### 31. Flatten a nested tuple.

In [6]:
from functools import reduce
t_31 = ((1,2,3,4), (1,2,3), (1,), (2,))
list(reduce(lambda x, y: x + y, t_31, ()))

[1, 2, 3, 4, 1, 2, 3, 1, 2]

### 32. Create a tuple of the first 5 prime numbers.

[]

### 33. Check if a tuple is a palindrome.

In [2]:
t_33 = (1,2,3,2,1)
if t_33 == t_33[::-1]:
    print('The given tuple is a palindromic tuple')
else:
    print('The given tuple is NOT a palindromic tuple')

The given tuple is a palindromic tuple

### 34. Create a tuple of squares of numbers from 1 to 5.

In [5]:
t_34 = range(1,6)
l_34_34 = []
for i in range(1,len(t_34)+1):
    l_34_34.append(i**2)
    
t_34_1 = tuple(l_34_34)
t_34_1

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [6]:
t_35 = (1,3,4,5,789,100,200,101,523)
l_35_35 = []
for i in t_35:
    if(i%2==0):
        l_35_35.append(i)
        
t_35_1 = tuple(l_35_35)
t_35_1

(4, 100, 200)

### 36. Multiply all elements in a tuple by 2.

In [7]:
t_36 = (1,3,4,5,9,100,200,111)
l_36_36 = []
for i in t_36:
    l_36_36.append(i*2)
t_36_1 = tuple(l_36_36)
t_36_1

(2, 6, 8, 10, 18, 200, 400, 222)

### 37. Create a tuple of random numbers.

In [8]:
import random
l_37_37 = random.sample(range(10, 31), 6)
print(tuple(l_37_37))

(16, 27, 20, 23, 10, 22)

### 38. Check if a tuple is sorted.

In [9]:
t_38 = [98, 78, 600, 601]
l_38_38 = list(t_38)
if l_38_38 == l_38_38.sort():
    print('tuple is sorted')
else:
    print('tuple is not sorted')

tuple is not sorted

### 39. Rotate a tuple to the left by `n` positions.

In [44]:
rot_lft_n = int(input('Enter the value with which the list should be rotated left: '))
  
t_39 = (11, 22, 33, 44, 55)
print('Original tuple: ', t_39)
t_39_1 =  t_39[rot_lft_n: ]+ t_39[:rot_lft_n]
print("Rotated tuple:", t_39_1)

Enter the value with which the list should be rotated left:  2

Original tuple:  (11, 22, 33, 44, 55)
Rotated tuple: (33, 44, 55, 11, 22)

### 40. Rotate a tuple to the right by `n` positions.

In [45]:
rot_trt_n = int(input('Enter the value with which the list should be rotated right: '))
  
t_40 = (11, 22, 33, 44, 55)
print('Original tuple: ', t_40)
t_40_1 = (t_40[len(t_40) - rot_trt_n:len(t_40)] + t_40[0:len(t_40) - rot_trt_n]) 
print("Rotated tuple:", t_40_1)

Enter the value with which the list should be rotated right:  2

Original tuple:  (11, 22, 33, 44, 55)
Rotated tuple: (44, 55, 11, 22, 33)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [16]:
l_41_41 = []
nth_41 = int(input())
a_1 = 0    
b_1 = 1    
for i in range(0,nth_41):  
    l_41_41.append(a_1)
    c_1 = a_1 + b_1
    a_1 = b_1
    b_1 = c_1
print(tuple(l_41_41))

 6

(0, 1, 1, 2, 3, 5)

### 42. Create a tuple from user input.

In [36]:
inpt_42 = input('Enter the next element of the set: (if not press #)')
l_42_42 = []
while inpt_42 != '#':
    l_42_42.append(inpt_42)
    if inpt_42 == '#':
        break
    else:
        inpt_42 = input('Enter the next element of the set: (if not press #)')
t_42 = tuple(l_42_42)
t_42

Enter the next element of the set: (if not press #) 2
Enter the next element of the set: (if not press #) 3
Enter the next element of the set: (if not press #) #

('2', '3')

### 43. Swap two elements in a tuple.

In [35]:
t_43 = (1,2,3,4)
l_43_43 = list(t_43)
l_43_f = int(input('The first index which are to be swapped: '))
l_43_s = int(input('The second index which are to be swapped: '))
l_43_43[l_43_f], l_43_43[l_43_s] = l_43_43[l_43_s], l_43_43[l_43_f]
print(tuple(l_43_43))

The first index which are to be swapped:  2
The second index which are to be swapped:  3

(1, 2, 4, 3)

### 44. Reverse the elements of a tuple.

In [33]:
t_44 = (1,23,4,5)
t_44_rev = t_44[::-1]
t_44_rev

(5, 4, 23, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [32]:
l_45_45 = []
nth_45 = int(input())
for p in range(0,nth_45+1):
    l_45_45.append(2**p)
t_45 = tuple(l_45_45)
t_45

 6

(1, 2, 4, 8, 16, 32, 64)

### 46. Find the longest string in a tuple of strings.

In [51]:
t_46 = ('m','max','maximum')
l_46_46_1 = []
for i in t_46:
    l_46_46_1.append(len(i))

max_lengt = max(l_46_46_1)
l_46_46_1_index = l_46_46_1.index(max_lengt)
t_46[l_46_46_1_index]

'maximum'

### 47. Find the shortest string in a tuple of strings.

In [52]:
t_47 = ('m','max','maximum')
l_47_47_1 = []
for i in t_47:
    l_47_47_1.append(len(i))

min_lengt = min(l_47_47_1)
l_47_47_1_index = l_47_47_1.index(min_lengt)
t_47[l_47_47_1_index]

'm'

### 48. Create a tuple of the first `n` triangular numbers.

In [31]:
l_48_48 = list()
nth_48 = int(input())
k=0
for i in range(1,nth_48+1):
    for j in range(0,i+1):
        k+=j
    l_48_48.append(k)
    k=0
t_48 = tuple(l_48_48)
t_48

 5

(1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [41]:
t_49_1 = ('de', [1,2,3], 'engg')
l_49_20 = []
l_49_100 = list(t_49_1)

for i in l_49_100:
    if (str(type(i)) == "<class 'list'>"):
        l_49_20.append(True)
    else:
        l_49_20.append(False)
if (any(l_49_20)):
    print('tuple is contains subsequent tuple')
else:
    print('tuple has no subsequent tuple')

tuple is contains subsequent tuple

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [25]:
l_50_50 = []
nth_50 = int(input())
for i in range(nth_50):
    if i%2 == 0:
        l_50_50.append(0)
    else:
        l_50_50.append(1)
t_50 = tuple(l_50_50)
t_50

 6

(0, 1, 0, 1, 0, 1)

# TOPIC Set Based Practice Problem :

### 1. Create a set with integers from 1 to 5.

In [5]:
st_1 = {1,2,3,4,5}
st_1

{1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [4]:
st_2 = {1,2,3,4,5}
st_2.add(6)
st_2

{1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set.

In [2]:
st_3 = {1,2,3,4,5,7,6}
st_3.remove(7)
st_3

{1, 2, 3, 4, 5, 6}

### 4. Check if an element exists in a set.

In [4]:
st_4 = {1,2,3,4,5,'so',7,6}
nm_st = 'so'
if nm_st in st_4:
    print(f'{nm_st} is present in {st_4}')
else:
    print(f'{nm_st} is not present in {st_4}')

so is present in {1, 2, 3, 4, 5, 6, 7, 'so'}

### 5. Find the length of a set without using the `len()` function.

In [7]:
st_5 = {8,9,6,7}
count_st = 0
for i in st_5:
    if i == None:
        continue
    else:
        count_st+=1
print(count_st)

4

### 6. Clear all elements from a set.

In [8]:
st_6 = {8,7,9,6}
st_6.clear()

In [9]:
st_6

set()

### 7. Create a set of even numbers from 1 to 10.

In [7]:
st_7 = {7,5,4,8,9}
st_7_1 = set()
for i in st_7:
    if i%2 == 0:
        st_7_1.add(i)
    else:
        continue
st_7_1

{4, 8}

### 8. Create a set of odd numbers from 1 to 10.

In [6]:
st_8 = {7,5,4,8,9}
st_8_1 = set()
for i in st_8:
    if i%2 != 0:
        st_8_1.add(i)
    else:
        continue
st_8_1

{5, 7, 9}

### 9. Find the union of two sets.

In [8]:
st_9 = {1,2,3}
st_9_1 = {4,5,6}
st_9_2 = st_9.union(st_9_1)
st_9_2

{1, 2, 3, 4, 5, 6}

### 10. Find the intersection of two sets.

In [10]:
st_10 = {1,2,3}
st_10_1 = {4,5,6,3}
st_10_2 = st_10.intersection(st_10_1)
st_10_2

{3}

### 11. Find the difference between two sets.

In [11]:
st_11 = {1,2,3,4}
st_11_1 = {1,2}
st_11.difference(st_11_1)

{3, 4}

### 12. Check if a set is a subset of another set.

In [12]:
st_12 = {1,2,3,4}
st_12_1 = {1,2}
st_12_1.issubset(st_12)

True

### 13. Check if a set is a superset of another set.

In [14]:
st_13 = {1,2,3,4}
st_13_1 = {1,2}
st_13.issuperset(st_13_1)

True

### 14. Create a set from a list.

In [15]:
l_14_14 = [1,2,3,4]
st_14 = set(l_14_14)
st_14

{1, 2, 3, 4}

### 15. Convert a set to a list.

In [16]:
st_15 = {1, 2, 3, 4}
l_15_15 = list(st_15)
l_15_15

[1, 2, 3, 4]

### 16. Remove a random element from a set.

In [18]:
st_16 = {1, 2, 3, 4}
st_16.pop()

1

### 17. Pop an element from a set.

In [20]:
st_17 = {1, 2, 3, 4}
st_17.remove(2)
st_17

{1, 3, 4}

### 18. Check if two sets have no elements in common.

In [21]:
st_18_1 = {1, 3, 4}
st_18_2 = {1, 2, 3, 4}
st_18_1.intersection(st_18_2)

{1, 3, 4}

### 19. Find the symmetric difference between two sets.

In [23]:
st_19_1 = {1, 3, 4,5}
st_19_2 = {1, 2, 3, 4}
st_19_1.symmetric_difference(st_19_2)

{2, 5}

### 20. Update a set with elements from another set.

In [26]:
st_20_1 = {7,5}
st_20_2 = {1, 2, 3, 4}
st_20_1.update(st_20_2)
st_20_1

{1, 2, 3, 4, 5, 7}

### 21. Create a set of the first 5 prime numbers.

### 22. Check if two sets are identical.

In [29]:
st_20_1 = {7,5}
st_20_2 = {1, 2, 3, 4}
if st_20_1 == st_20_2:
    print('The sets are identical')
else:
    print('The sets are not identical')

The sets are not identical

### 23. Create a frozen set.

In [45]:
vowels = ('a', 'e', 'i', 'o', 'u')
fst_23 = frozenset(vowels)
print(fst_23)
fst_23.add('e')

frozenset({'e', 'i', 'u', 'o', 'a'})

AttributeError: 'frozenset' object has no attribute 'add'

### 24. Check if a set is disjoint with another set.

In [31]:
st_24_1 = {7,5,3}
st_24_2 = {1, 2, 3, 4}
st_24_1.isdisjoint(st_24_2)

False

### 25. Create a set of squares of numbers from 1 to 5.

In [5]:
st_25 = set(range(1,6))
st_25_1 = set()
for i in st_25:
    st_25_1.add(i**2)
st_25_1

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [4]:
st_26 = {1,2,3,4,5}
st_26_1 = set()
for i in st_26:
    if i%2==0:
        st_26_1.add(i)
    else:
        continue
st_26_1

{2, 4}

### 27. Multiply all elements in a set by 2.

In [3]:
st_27 = {7,5,3}
st_27_1 = set()
for i in st_27:
    st_27_1.add(i*2)
st_27_1

{6, 10, 14}

### 28. Create a set of random numbers.

In [39]:
import random
l_28_28 = random.sample(range(10, 31), 6)
st_28 = set(l_28_28)
st_28

{12, 15, 20, 21, 22, 27}

### 29. Check if a set is empty.

In [2]:
st_29 = {}
if len(st_29) == 0:
    print('The set is empty')
else:
    print('The set is not empty')

The set is empty

### 30. Create a nested set (hint: use frozenset).

### 31. Remove an element from a set using the discard method.

In [47]:
st_31 = {12, 15, 20, 21, 22, 27}
st_31.discard(15)
st_31

{12, 20, 21, 22, 27}

### 32. Compare two sets.

### 33. Create a set from a string.

In [48]:
str_33 = 'possible'
st_33 = set(str_33)
st_33

{'b', 'e', 'i', 'l', 'o', 'p', 's'}

### 34. Convert a set of strings to a set of integers.

In [9]:
st_str_34 = {'1', '4', '9', '16', '25'}
st_i_34 = set()
for i in st_str_34:
    st_i_34.add(int(i))
st_i_34

{1, 4, 9, 16, 25}

### 35. Convert a set of integers to a set of strings.

In [8]:
st_i_35 = {1, 4, 9, 16, 25}
st_str_35 = set()
for i in st_i_35:
    st_str_35.add(str(i))
st_str_35

{'1', '16', '25', '4', '9'}

### 36. Create a set from a tuple.

In [57]:
t_36_36 = (1,2,8,8)
st_36 = set(t_36_36)
st_36

{1, 2, 8}

### 37. Convert a set to a tuple.

In [58]:
st_37 = {1,2,8}
t_37_37 = tuple(st_37)
t_37_37

(8, 1, 2)

### 38. Find the maximum value in a set.

In [59]:
st_38 = {1,2,8}
max(st_38)

8

### 39. Find the minimum value in a set.

In [60]:
st_39 = {1,2,8}
min(st_39)

1

### 40. Create a set from user input.

In [35]:
inpt_40 = input('Enter the next element of the set: (if not press #)')
st_40 = set()
while inpt_40 != '#':
    st_40.add(inpt_40)
    if inpt_40 == '#':
        break
    else:
        inpt_40 = input('Enter the next element of the set: (if not press #)')
st_40

Enter the next element of the set: (if not press #) 3
Enter the next element of the set: (if not press #) 4
Enter the next element of the set: (if not press #) #

{'3', '4'}

### 41. Check if the intersection of two sets is empty.

In [24]:
st_41 = {1,2,3,4,'api'}
st_41_1 = {'api'}
st_41_2 = {5,6,7}
if st_41.intersection(st_41_1) == set():
    print(f'There is no common elements in the two sets {st_41} and {st_41_1}')
else:
    print(f'The intersection of the two sets is {st_41.intersection(st_41_1)}')

if st_41.intersection(st_41_2) == set():
    print(f'There is no common elements in the two sets {st_41} and {st_41_2}')
else:
    print(f'The intersection of the two sets is {st_41.intersection(st_41_2)}')

The intersection of the two sets is {'api'}
There is no common elements in the two sets {1, 2, 3, 4, 'api'} and {5, 6, 7}

### 42. Create a set of the first 5 Fibonacci numbers.

In [21]:
#It can be clearly seen that a set of fibonacci series cannot be created for 
#first five of them as one appears two times as evident from the code output 
#and the fact that a set cannot have duplicate elements
l_42_42 = []
nth_42_s = int(input())
a_3 = 0    
b_3 = 1    
for i in range(0,nth_42_s):  
    l_42_42.append(a_3)
    c_3 = a_3 + b_3
    a_3 = b_3
    b_3 = c_3
print(set(l_42_42))

 6

{0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [10]:
l_43_43 = [2,4,5,6,6,5]
st_43 = set(l_43_43)
l_43_43 = st_43
l_43_43

{2, 4, 5, 6}

### 44. Check if two sets have the same elements, regardless of their count.

In [38]:
st_44 = {1,2,3}
st_44_1 = {1,2,3}
st_44_2 = {1,2,4,5}
if len(st_44) == len(st_44_1):
    if st_44.intersection(st_44_1) == st_44:
        print('Two sets have same elements')
    else:
        print('The sets donot have same elements although same length')
else:
    print('The sets donot have same elements')
    
if len(st_44) == len(st_44_2):
    if st_44.intersection(st_44_2) == st_44:
        print('Two sets have same elements')
    else:
        print('The sets donot have same elements although same length')
else:
    print('The sets donot have same elements')

Two sets have same elements
The sets donot have same elements

### 45. Create a set of the first `n` powers of 2.

In [ ]:
st_45 = range(1,nth_st+1)

for i in st_45:
    l_45.add(i**2)

st_45

### 46. Find the common elements between a set and a list.

In [22]:
st_46 = {1,2,3,4}
l_46_46 = [1,2,5,7]
st_46_1 = set(l_46_46)
if st_46.intersection(st_46_1) == set():
    print(f'The given set {st_46} and list {l_46_46} have nothing in common')
else:
    print(f'{st_46.intersection(st_46_1)} are the elements in common')

{1, 2} are the elements in common

### 47. Create a set of the first `n` triangular numbers.

In [27]:
st_47 = set()
nth_47 = int(input())
k=0
for i in range(1,nth_47+1):
    for j in range(0,i+1):
        k+=j
    st_47.add(k)
    k=0
st_47

 7

{1, 3, 6, 10, 15, 21, 28}

### 48. Check if a set contains another set as a subset.

#### ANSWER A set of sets does not work

In [32]:
st_48 = {2,{7,4},3}
count_sub = []
for i in st_48:
    if type(i) == set:
        count_sub.append(True)
    else:
        count_sub.append(False)
        
if any(count_sub):
    print('there is a subset in the original set')
else:
    print('there is not any subset in the original set')

TypeError: unhashable type: 'set'

### 49. Create a set of alternating 1s and 0s of length `n`.

#### ANSWER not possible as set would not support duplicate elements

### 50. Merge multiple sets into one.

In [2]:
st_50 = set()
st_50_1 = {1,2}
st_50_2 = {3,4}
st_50_3 = {'I', "think"}
st_50_4 = {1.728, 1.0}
st_50.union(st_50_1, st_50_2, st_50_3, st_50_4)

{1, 1.728, 2, 3, 4, 'I', 'think'}

###### Assignment submitted by Lalit Kumar Dated: 28-08-2023